<div class="row">
    <%= simple_form_for @content, html: { multipart: true } do |f| %> 
      <div class="field">
        <%= f.input :title, required: true, class: "field" %>
        <%= f.input :tagline, required: true, label: 'Short description', input_html: { maxlength: 50 }, class: "field" %>
        <%= f.input :description, required: true, as: :text, class: "field" %>
        <%= f.input :price, required: true, class: "field" %>
        <%= f.input :team, required: true, label: 'Team member number', class: "field" %>
        <%= f.input :equity, required: true, label: 'Equity percentage', class: "field" %>
        <%= f.input :website, label: 'Website Link', as: :string, class: "field" %>
        <%= f.input :linkedin, label: 'Linkedin Link', as: :string, class: "field" %>
        
        <br>
        <label>Upload a cover image of your project (.jpeg, .jpg)</label>
        <div class="image-field">
            <%= f.input :copertina, required: true, label: false %>
        </div>
        <br>
        <%= f.button :submit, class: "btn btn-devise waves-effect waves-light blue accent-3" %>
      </div>
    <% end %>
</div>
