<div class="slider">
  <ul class="slides">
  	<li>
      <%= image_tag("graph2.jpg") %>
      <div class="caption left-align">
        <h1 class="htitle blue-text text-accent-3">$ T A R T H I A</h1>
        <h5 class="smallp">Where Startups meet Investors</h5>
        <br><br>
        <div class="row right">
        	<%= link_to "Post your project", new_user_registration_path, class: "btn waves-effect waves-light red" %>
      	</div>
      </div>
    </li>
    <li>
      <%= image_tag("Man.jpg") %>
      <div class="caption left-align">
        <h1 class="blue-text text-accent-3">Grow your business</h1>
        <h5 class="smallp">Get new investment from investor around the world and start growing</h5>
        <br><br>
        <div class="row right">
        	<%= link_to "Startup", new_user_registration_path, class: "btn waves-effect waves-light red" %>
        </div>
      </div>
    </li>
    <li>
      <%= image_tag("telephone.jpg") %>
      <div class="caption right-align">
        <h1 class="blue-text text-accent-3">Invest</h1>
        <h5 class="smallp">Discover best new startup to invest on and sign great deal</h5>
        <br><br>
        <div class="row right">
        	<%= link_to "Investor", new_user_registration_path, class: "btn waves-effect waves-light red" %>
        </div>
      </div>
    </li>
  </ul>
</div>